.sidebar {
  flex: 2 1;
  /* margin: 10px; */
  /* padding: 0.5rem; */
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1a1c1e;
  color: #8a8c90;
  gap: 1rem;
  height: 85vh;
  border-radius: 15px;
}

.sidebarItem {
  padding: 0.5rem;
  border-radius: 15px;
  /* background-color: yellowgreen; */
  width: 90%;
}

nav {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0 5px 10px #ccc;
}

/* Basic styles for nav links */
nav a {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  /* height: 100%; */
  text-decoration: none;
}

.link {
  color: #8a8c90;
}

.link:hover {
  color: white;
  background-color: #272a30;
  text-decoration: none;
}

.link-active {
  color: white;
  background-color: #272a30;
  text-decoration: none;
}

.content {
  margin-top: 50px;
  text-align: center;
}
